* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 0;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent; /* Remove o destaque azul no toque */
}

html {
  scroll-behavior: smooth;
}
