/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero-container {
  background-color: #f6d9d6;
  font-family: sans-serif;
  min-height: 100vh;
  position: relative; /* <- importante */
  overflow: hidden; /* <- corta o que passar */
}

.hero-header {
  margin-bottom: 40px;
}

.hero-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.hero-text {
  padding-left: 50px;
  max-width: 800px;
  position: absolute;
  top: 250px;

}

.hero-text h1 {
  font-family: "Playfair Display", serif;
  font-size: 90px;
  font-weight: 700;
  color: #4a2c2a;
  margin-bottom: 20px;
  line-height: 1.2;
}

.hero-text p {
  font-family: "Poppins", sans-serif;
  font-size: 23px;
  color: #2a2a2a;
  margin-bottom: 30px;
}
.agendehorario {
  color: #fff;
  text-decoration: none;
}
.hero-text button {
  margin-top: 20px;
  background-color: #a67557;
  color: #fff;
  border: none;
  padding: 15px 30px;
  border-radius: 28px;
  font-size: 23px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 14px rgb(145, 103, 77, 0.3);
}
.hero-text button:hover {
  background-color: rgb(145, 103, 77);
  transform: translateY(-2px);
}
.botaoAgendarHrr {
  display: flex;
  justify-content: center;
}

.blob1 {
  position: absolute;
  width: 800px;
  right: -190px;
  opacity: 0.5;
  transform: rotate(200deg); /* gira 45 graus */
  bottom: -300px;
}

