/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hero-main {
  position: relative;
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.img-mulheres {
  position: absolute;
  bottom: 77px; /* ou top: 0; depende de onde você quer ela */
  right: 350px; /* ou left: 0 */
  width: 600px; /* exemplo */
  z-index: 2;
}

.hero-container {
  background-color: #ffe0d3;
  font-family: sans-serif;
  max-height: 100vh;
  position: relative; /* <- importante */
  overflow: hidden; /* <- corta o que passar */
}

.hero-header {
  margin-bottom: 40px;
}

.hero-text {
  padding-left: 50px;
  max-width: 800px;
  position: absolute;
  top: 70px;
}

.hero-text h1 {
  font-family: "Playfair Display", serif;
  font-size: 90px;
  font-weight: 700;
  color: #4a2c2a;
  margin-bottom: 20px;
  line-height: 1.2;
}
.hero-text h2 {
  font-family: "Dancing Script", cursive;
  color: #4a2c2a;
  font-size: 43px;
  font-weight: 500;
}

.hero-text p {
  font-family: "Poppins", sans-serif;
  font-size: 23px;
  color: #2a2a2a;
  margin-bottom: 30px;
}
.Hero-servicos{
display: flex;
gap: 150px;
margin-bottom: 30px;
}

.Hero-servicos ul{
  list-style: none;
}

.Hero-servicos ul li{
  color: #2a2a2a;
  display: flex;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  padding: 10px;
  align-items: center;
}

.icone-esmalte{
  width: 35px;
  margin-right: 10px
}

#reiki{
  font-size: 23px;
}

.botaoAgendarHrr {
  all: unset; /* Pode manter, ou remover se quiser centralizar/mover */
 
}

.agendehorario {
  display: inline-block;
  padding: 12px 24px;
  background-color: #4a2c2a;
  color: #faf0d7;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  border-radius: 18px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease, transform 0.2s ease;
  text-decoration: none;
  position: relative; /* necessário pro z-index funcionar */
  z-index: 2;
}

.agendehorario:hover {
  background-color: rgb(145, 103, 77);
  transform: translateY(-2px);
}

.blob1 {
  position: absolute;
  width: 800px;
  right: -190px;

  transform: rotate(200deg); /* gira 45 graus */
  bottom: -300px;
  z-index: 0px;
}

.blob2 {
  position: absolute;
  width: 800px;
  right: 300px;
  transform: rotate(200deg); /* gira 45 graus */
  bottom: -480px;
  z-index: -1px;
}
.blob3 {
  position: absolute;
  width: 800px;
  right: 1100px;
  transform: rotate(180deg); /* gira 45 graus */
  bottom: -550px;
  z-index: -1px;
}