

.navbar {
  font-family: "poppins", serif;
  padding: 20px 40px;
  width: 100%;
  top: 0;
  z-index: 999;
  position: relative; /* importante para limitar a .blob-header */
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1900px;
}

.logo {
  margin-left: 50px;
  font-family: "poppins", serif;
  font-size: 30px;
  color: #d6246b;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 130px;
  z-index: 999;
}

.nav-links li a {
  font-size: 23px;
  text-decoration: none;
  color: #4a2c2a;
  font-weight: 500;
  transition: color 0.1s ease;
  z-index: 999;
}

.nav-links li a:hover {
  color: #d6246b;
}
.nav-links {
  position: relative;
}

.blob-header {
  position: absolute;
  top: 300px;
  left: -500px;
  width: 1290px;
  height: 200px;
  z-index: -1;
  transform: rotate(-160deg);
}
.navLink_colorido {
  z-index: 999;
}
