.navbar {
  font-family: "poppins", serif;
  padding: 20px 40px;
  width: 100%;
  top: 0;
  z-index: 999;
  position: relative; /* importante para limitar a .blob-header */
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1900px;
}

.logo {
  font-family: "Dancing Script", cursive;
  font-size: 38px;
  color: #9b493b;
  font-weight: 600;
}

.bg-folha7 {
  position: absolute;
  scale: 0.6;
  left: 138px;
  top: -35px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 110px;
}

.nav-links li a {
  font-size: 23px;
  text-decoration: none;
  color: #4a2c2a;
  font-weight: 500;
  transition: color 0.1s ease;
}

.nav-links li a:hover {
  color: #9b493b;
}
.nav-links {
  position: relative;
}

.blob-header {
  position: absolute;
  top: 360px;
  left: -550px;
  width: 1290px;
  height: 200px;
  z-index: -1;
  transform: rotate(-160deg) scale(1.2);
  pointer-events: none;
}
.navLink_colorido {
  z-index: 999;
}

@media (max-width: 1500px), (max-height:800px ){
  .nav-links{
    scale: 0.85;
  }

}

@media (max-width:375px), (max-height: 667px){
  .nav-links{
    display: none;
  }
  .logo{
    position: absolute;
    scale: 0.8;
    left: 10px;
    top: 10px;
  }
}